.nav-menu{
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.02);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: 1.5625rem 3%;
  }

  .nav-elements{
    display: none;
  }

  .nav-link-hover{
    padding: 0.1875rem 0.5rem;
  }

  //Burger-Menu
.bm-burger-button {
    width: 1.875rem;
    height: 1.25rem;
    left: 0;
    top: 0;
    right: 0 !important;
    cursor: pointer;
    position: relative;
  }
  .bm-burger-bars {
    background-color: #C9C9C9;
  }
  .line-style {
    height: 2px;
    left: 0;
    right: 0;
    &:nth-child(2){
      background-color: $main-green-color;
    }
  }
  .cross-style {
    cursor: pointer;
    right: 0;
    top: 1.5625rem;
  }
  .bm-cross {
    width: 2px !important;
    height: 1.875rem !important;
    background: #C9C9C9;
  }
  .bm-cross-button {
    height: 1.875rem;
    width: 1.875rem;
  }
  .bm-menu {
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgb(63, 63, 65);
    overflow-x: hidden;
    padding-top: 3.75rem;
    transition: 0.5s;
  }
  
  .bm-overlay {
    background-color: #181818;
  }
  
  .bm-item-list{
    color: #b8b7ad;
    margin-left: 10%;
    font-size: 1rem;
    ul{
      display: flex;
      flex-direction: column;
      list-style-type: none;
      padding: 0;
      li {
        padding: 0.7em;
      }
    } 
  }

  .nav-link-hover{
    color: #888888; 
    text-decoration: none;
    font-size: 1rem;
    position: relative;
    font-family: 'GTLight';
    letter-spacing: 0.04375rem;
  &::after{
    content: "";
    position: absolute;
    height: 0.25rem;
    bottom: 38%;
    left: 0;
    visibility: hidden;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    background: $main-green-color;
    width: 0%;
    z-index: 2; 
  }
	&:hover{
    color: $white-color !important;
		&::after{
      content: "";
      width: 100%;
      position: absolute;
      visibility: visible;
		}
  }
}

@media (min-width: 576px) {

}

@media only screen and (min-width:768px) {

    .logo{
      font-size: 1.6rem;
    }  
}

@media (min-width: 992px) {

}

@media only screen and (min-width:1200px) {
  .nav-menu{
      padding: 2rem 4%;
      border-bottom: 0;
  }

  .bm-burger-button{
      display: none;
    }

  .nav-elements{
      display: block;
    ul{
      margin: 0;
      list-style-type: none;
      display: flex;
      li{
        margin-right: 4.5rem;
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}

