#profile{
    padding-top: 9.375rem;
}

.profile-text-wrapper{
    position: relative;
    &::before{
        content: "02";
        position: absolute;
        font-size: 5rem;
        font-family: 'GTBold';
        color: rgba(255, 255, 255, 0.02);
        line-height: 0;
        z-index: -1;
        top: -1.25rem;
    }
    h2{
        position: absolute;
        bottom: -5.3125rem;
    }
}

.profile-text{
    margin-top: 6.875rem;
    font-style: italic;
}

.profile-img-wrapper{
    position: relative;
    display: inline-flex;
    align-items: flex-end;
}

.bg-frame{
    position: absolute;
    top: 1.5625rem;
    bottom: -1.5625rem;
    right: 0px;
    left: 1.5625rem;
    background-color: #282828;
    max-width: calc(100% - 1.5625rem);
    z-index: -1;
}

.profile-img{
    max-width: calc(100% - 1.5625rem);
}

#projects{
    padding-top: 9.375rem;
}

.projects-text-wrapper{
    margin-bottom: 2.5rem;
    h2{
        margin-bottom: 1.5625rem;
        &::before{
            content: "03";
            position: absolute;
            font-size: 5rem;
            font-family: 'GTBold';
            color: rgba(255, 255, 255, 0.02);
            line-height: 0;
            z-index: -1;
        }
    }
}

.slider-toggles{
    display: none;
}

#skills{
    padding-top: 9.375rem;
}

.skills-wrapper{
    position: relative;
    &::before{
        content: "04";
        position: absolute;
        font-size: 5rem;
        font-family: 'GTBold';
        color: rgba(255, 255, 255, 0.02);
        line-height: 0;
        top: -1.25rem;
        z-index: -1;
    }
}

.img-wrapper{
    transition: all 500ms ease 0s;
    position: relative;
    display: inline-block;
}

.img-filter{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.img-wrapper:hover .img-overlay{
    opacity: 0;
}

.img-wrapper:hover .img-filter{
    filter: grayscale(0%);
}

.img-overlay{
    opacity: 1;
    transition: all 500ms ease 0s;
    position: absolute;
    left: 0px;
    top: 0px;
    right: -0.0625rem;
    bottom: -0.0625rem;
    display: inline-block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.skills-text-wrapper{
    margin: 2.5rem 0 6.25rem 0;
}

.headline-bg-wrapper{
    padding: 0.9375rem 0.625rem;
    background-color: $main-bg;
    box-shadow: rgba(0, 0, 0, 0.15) 0.1875rem 0.1875rem 0.375rem 0px;
    display: table;
    &:nth-child(2){
        padding: 0.9375rem 1.25rem 0.9375rem 10px;
        margin: 0.9375rem 0 1.5625rem 0;
    }
    h2{
        display: inline;
        span{
            position: relative;
            &::before{
                content: "";
                height: 0.3125rem;
                width: 100%;
                background-color: $main-green-color;
                position: absolute;
                bottom: 0.25rem;
            }
        }
    }
}

.skills-padding{
    padding: 0 !important;
}

.skills-bg{
    background-color: $light-grey-bg;
}

.skillset-item{
    padding: 1.375rem 1.875rem;
    height: 6.5625rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 0.1875rem 0.1875rem 0.375rem 0px;
    font-family: 'GTMedium';
    p{
        color: $main-text-color;
        margin: 0.625rem 0 0 0;
        text-transform: uppercase;
        font-size: 0.6rem;
        letter-spacing: 0.03125rem;
    }
}


@media only screen and (min-width:768px) {

    #profile{
        padding-top: 15.625rem;
    }

    .profile-text-wrapper{
        &::before{
            font-size: 11rem;
            top: -2.1875rem;
        }
        h2{
            position: absolute;
            bottom: -9.6875rem;
        }
    }

    .profile-text{
        margin-top: 10.625rem;
        background-color: $main-bg;
        box-shadow: rgba(0, 0, 0, 0.15) 6px 6px 6px 0px;
        padding: 3.125rem;
        line-height: 2.8125rem;
    }

    .bg-frame{
        top: 3.4375rem;
        bottom: -3.4375rem;
        left: 3.4375rem;
        max-width: calc(100% - 3.4375rem);
    }

    .profile-img{
        max-width: calc(100% - 3.4375rem);
    }

    #projects{
        padding-top: 15.625rem;
    }

    .projects-text-wrapper{
        h2{
            &::before{
                font-size: 11rem;
            }
        }
    }

    #skills{
        padding-top: 15.625rem;
    }

    .skills-wrapper{
        &::before{
            font-size: 11rem;
            top: -2.5rem;
        }
    }

    .skills-text-wrapper{
        p{
            width: 75%;
        }
    }

    .headline-bg-wrapper{
        padding: 1.5625rem 1.25rem;
        &:nth-child(2){
            padding: 1.5625rem 2.5rem 1.5625rem 1.25rem;
            margin: 0.9375rem 0 1.5625rem 0;
        }
        h2{
            span{
                &::before{
                    height: 0.5rem;
                }
            }
        }
    }

    .skillset-item{
        height: 167px;
        p{
            font-size: 0.7rem;
            margin-top: 15px;
        }
    }
}

@media only screen and (min-width:992px) {

    #profile{
        padding-top: 15rem;
    }

    .profile-text{
        width: 60%;
        margin: 0;
        position: absolute;
        right: 0px;
        bottom: 165px;
    }

    .profile-img-wrapper{
        position: relative;
        &::before{
            content: url(../src/assets/images/green-cross.png);
            position: absolute;
            top: -198px;
            right: -198px;

        }
    }

    #projects{
        padding-top: 25rem;
    }

    #skills{
        padding-top: 25rem;
    }

    .skills-wrapper{
        position: relative;
        margin-bottom: 11.25rem;
    }

    .skills-text-wrapper{
        margin: 0;
        position: absolute;
        right: 0px;
        bottom: 85px;
        display: inline;
        max-width: 60%;
    }

    .headline-bg-wrapper{
        padding: 1.25rem 1.25rem;
        &:nth-child(2){
            padding: 1.25rem 2.5rem 1.25rem 1.25rem;
            margin: 0.9375rem 0 1.5625rem 0;
        }
    }
}


@media only screen and (min-width:1200px) {

    .profile-text{
        margin: 0;
        width: 53%;
    }

    .skills-text-wrapper{
        max-width: 53%;
    }
}







